@model IEnumerable<Challenge_Odontoprev_MVC.Application.DTOs.ConsultaReadDTO>
@{
    ViewData["Title"] = "Gestor de Consultas";
}

<h1>Checklist de Consultas</h1>

<a asp-asp-controller="Consulta" asp-action="Create" class="btn btn-primary mt-2 mb-4">Criar nova Consulta</a>

@Html.Partial("_AppointmentTable", Model)